{% extends 'auctions/layout.html' %}
{% block body %}
    {% if message %}
        {{ message}}
    {% endif %}
        <div class="jumbotron jumbotron-fluid text-center">
        <h1 class="welcometxt">Active Listing</h1>
        <h5>These are all the listings availabe.</h5>
        </div>
    {% if empty %}
        <h1>there are any listing</h1>
    {% else %}
        {% for product in products %}
            <div class="row">
                <div class="col-sm-6">
                    <div class="card " style="width: 30rem;">
                        <div class="card-body">
                            <img src="{{ product.image }}" class="product-img" alt="">
                            <h5 class="card-title"><strong>{{ product.product_name }}</strong></h5>
                            <h6><strong>Owner:</strong> {{ product.owner }}</h6>
                            <h6><strong>Current bid:</strong> ${{ product.first_bid }}</h6>
                            <p class="card-text">{{ product.description }}</p>
                            <a href="{% url 'view_listing' product.id %}" class="btn btn-info">Show product</a>
                            <div class="card-footer">
                                <small class="text-muted">{{ product.created }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}