{% extends "auctions/layout.html" %}

{% block body %}

    <h2 style="text-align: center; color: aliceblue;">Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <div class="login-form">
        <div class="form">
            <form class="login-form" action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username" class="inp"/>
                <input type="password" name="password" placeholder="Password" class="inp"/>
                <input type="password" name="confirmation" placeholder="Confirm Password" class="inp"/>
                <input type="email" name="email" placeholder="Email Address" class="inp"/>
                <input class="btn btn-info" type="submit" value="Register">
                <p class="message">Already registered? <a href="{% url 'login' %}">Sign In</a></p>
            </form>
        </div>
    </div>

{% endblock %}